<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stock Price  Prediction</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body background="/static/images/background1.jpg">
<!-- Input Form -->
<div  class="input form">
  <form action="{{url_for('predict')}}"method="post" id="input head">
    <h1 id="heading">Stock Prediction Form</h1>
    <h3 id="input">Enter the Stock headlines</h3>
    <input type="text" name="Stock" placeholder="Stock Prediction">
    <br>
    <br>
    <button id="submit" type="submit">Submit</button>
  </form>
 
</div>
   
</body>
</html>